body {
   width:100%;
   position: relative;
   background-color: #FFE680;
   overflow: hidden;
}
.main{
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}

.Title {
   text-align: center;
}

.theBar {
   width:400px;
   height: 12px;
   background-color: #4C1F00;
}

.theListEditor {
   display: inline-block;
   width:400px;
   height: 32px;
}

.listChevron {
   font-size: 1.25em;
   transform:rotate(90deg);
   -ms-transform:rotate(90deg); /* IE 9 */
   -webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */;
   display: inline;
   margin: 0;
   float: left;
   text-align: center;
   width: 26px;
   height: 26px;
   background-color: white;
   border-style: solid;
   border-width: 2px;
   border-color: #4C1F00;
}

.listEditable {
   display: inline;
   padding: 0;
   margin: 0;
   border-width: 2px;
   border-style: solid;
   border-color: #4C1F00;
   width: 365px;
   height: 26px;
   font-size: 1.25em;
}

.theListDisplay {
   width: 400px;
   height: 30px;
   margin: 0;
   padding: 0;
}

.theList {
   float: left;
   list-style: none;
   margin: 0;
   padding: 0;
}

.anItem {
   list-style: none;
   display: block;
   width: 400px;
   height: 30px;
}

.itemCheckOff {
   font-size: 1.125em;
   display: inline;
   margin: 0;
   float: left;
   text-align: center;
   width: 26px;
   height: 26px;
   background-color: white;
   border-style: solid;
   border-width: 2px;
   border-color: #4C1F00;
}

.listItem {
   width: 365px;
   height: 26px;
   font-size: 1.25em;
   display: block;
   padding: 0;
   margin: 0;
   background-color: white;
   border-style: solid;
   border-width: 2px;
   border-color: #4C1F00;
}

.clearFloat {
   clear: both;
}

.removeItem {
 /*  display: none;  */
}

}
.footer {
   width: 400px;
   height: 28px;
   margin-left: auto;
   margin-right: auto;
}

